@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(modal) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $-modal-bg;
}