/**
 * 初始化
 */
@import 'variable';
@import 'markdown';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: $font-family;
  font-size: $fs-text;
  color: $color-text;
  background: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: $color-text;

  &:active {
    color: $color-text;
  }
}

.body-scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) #fefefe;

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    width: 7px;
    height: 7px;
    opacity: 0.5;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.win-scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) #fefefe;

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 6px;
    opacity: 0.5;
    border-radius: 3px;
    background-color: transparent;
  }
  &:hover{
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
    scrollbar-color: rgba(0, 0, 0, 0.2) #fefefe;
  }
}

.style-block {
  display: inline-block;
  width: 180px;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff;

  p {
    margin: 0;
    color: #fff;
  }
}
.a-dot,
.b-dot {
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #668df8;
  z-index: 10;
  border: 2px solid white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}
.a-dot {
  left: -6px;
  top: -6px;
  &::before {
    content: "A";
    display: inline-block;
    color: rgba(0, 0, 0, 0.85);
    font-size: 17px;
    transform: translate(14px, -22px);
  }
}
.b-dot {
  right: -6px;
  bottom: -6px;
  &::before {
    content: "B";
    display: inline-block;
    color: rgba(0, 0, 0, 0.85);
    font-size: 17px;
    transform: translate(14px, -22px);
  }
}
.liner-color {
  width: 160px;
  height: 160px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 250px;
    right: 96px;
    top: -32px;
    background-color: #fff;
    transform: rotate(-45deg);
  }
}
.color-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.color-block {
  width: 65px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  height: 20px;
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
}

.liner-color1 {
  &::after {
    transform: rotate(45deg);
    top: -30px;
  }
  .a-dot {
    right: -6px;
    top: -6px;
    left: inherit;
  }
  .b-dot {
    left: -6px;
    bottom: -6px;
    &::before {
      transform: translate(25px, -15px);
    }
  }
}
.demo-right {
  position: absolute;
  left: 250px;
}
.color-group {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0 !important;
  box-sizing: border-box;
  &.dark {
    background: rgba(38, 38, 38, 1);
    border: 3px solid rgba(38, 38, 38, 1);
    border-radius: 4px;
  }
  li {
    width: 120px;
    height: 120px;
    list-style: none;
    display: inline-block;
    padding: 8px 0 0 8px;

    div {
      font-weight: 500;
    }
  }
}
