@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


@include b(tab) {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;

  @include e(body) {
    @include m(inactive) {
      height: 0;
      transition: height 0.3s ease-in-out;
    }
  }
}