@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';
@import '../wd-avatar/common';

@include b(avatar-group) {
  display: inline-flex;
  align-items: center;
  gap: 0;

  @include e(item) {
    // 样式已在 common.scss 中定义
  }

  @include edeep(collapse) {
    font-size: $-avatar-group-collapse-font-size;
  }
}
