@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(pager) {
  @include e(nav) {
    min-width: $-pagination-nav-width;
    @include m(active){
      color: rgba(0,0,0,0.65)      
    }
    @include m(disabled){
      color: rgba(0,0,0,0.15)      
    }
  }
  @include e(left){
    transform: rotate(180deg) translateY(1px);
    display: inline-block;
  }
}