@import "../common/abstracts/_mixin.scss";
@import "../common/abstracts/variable.scss";

@include b(search) {
  @include e(search-icon) {
    margin-right: 8px;
    color: $-search-icon-color;
    font-size: $-search-input-fs;
    height: $-search-input-height;
  }
  @include e(search-left-icon) {
    position: absolute;
    display: inline-block;
    height: $-search-input-height;
    line-height: $-search-input-height;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: $-search-icon-color;
    font-size: $-search-input-fs;
  }
  @include e(clear-icon) {
    vertical-align: middle;
  }
}
