@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';
@import '../divider/index.scss';
@import '../icon/index.scss';
@import '../loading/index.scss';

@include b(loadmore) {
  width: 100%;
  height: $-loadmore-height;
  line-height: $-loadmore-height;
  text-align: center;
  color: $-loadmore-color;

  @include e(loading) {
    display: inline-block;
    margin-right: 8px;
    vertical-align:  middle;
  }
  @include e(text) {
    display: inline-block;
    font-size: $-loadmore-fs;
    vertical-align: middle;

    @include when(light) {
      margin: 0 6px;
      color: $-loadmore-error-color;
    }
  }
  @include e(refresh) {
    display: inline-block;
    color: $-loadmore-error-color;
    vertical-align: middle;
  }
}