@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(swipe-action) {
  position: relative;
  overflow: hidden;
  @include e(left) {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  @include e(right) {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.wd-swipe-action__left,
.wd-swipe-action__right {
  position: absolute;
  top: 0;
  height: 100%;
}