@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';
.wot-theme-dark {
  @include b(grid) {
    background-color: $-dark-background2;
  }
}

@include b(grid) {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
}