@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(table) {
  position: relative;
  width: 100%;
  overflow: auto;
  background: #ffffff;

  @include m(fixed) {
    position: absolute;
    left: 0;
    background: #ffffff;
    pointer-events: none;
    z-index: 1;
  }

  @include e(header) {
    width: 100%;
    height: 80rpx;
    display: flex;
    pointer-events: none;
    overflow-x: auto;
    white-space: nowrap;
  }

  @include e(body) {
    display: flex;
    box-sizing: border-box;
  }

  @include e(cell) {
    display: inline-block;
    flex: 0 0 auto;
    width: 220rpx;
    text-align: center;
  }

  @include e(row) {}
}