@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(divider) {
  position: relative;
  display: flex;
  padding: $-divider-padding;
  align-items: center;
  color: $-divider-color;
  font-size: $-divider-fs;

  @include e(line) {
    display: block;
    flex: 1;
    height: 1px;
    transform: scaleY(0.5);
    background: $-divider-line-color;
  }
  @include e(content) {
    padding: 0 12px;
  }
}
